<p style="color: green"><%= notice %></p>

<h1>Entries limit:3</h1>
<details>
  <summary>Code: Template</summary>
  <%= markdown("```erb
  <%= render(Entry::ListComponent.new(entries: @entries, limit: 3)) %\>
  ```") %>
</details>
<%= render(Entry::ListComponent.new(entries: @entries, limit: 3)) %>

<h1>Entries default limit(5)</h1>
<details>
  <summary>Code: Template</summary>
  <%= markdown("```erb
  <%= render(Entry::ListComponent.new(entries: @entries)) %\>
  ```") %>
</details>
<details>
  <summary>Code: component.rb</summary>
  <%= markdown("```ruby
  class Entry::ListComponent < ViewComponent::Base
    def initialize(entries:, limit: 5)
      @entries = entries
      @limit = limit
    end
  end
  ```") %>
</details>
<%= render(Entry::ListComponent.new(entries: @entries)) %>

<section class="sample-sortable">
<h3>Sample Sortable.js</h3>
# views/welcome/index.html.erb
<ul data-controller="sortable">
  <%= render(Item::ItemComponent.new(item: 'Item 1')) %>
  <%= render(Item::ItemComponent.new(item: 'Item 2')) %>
  <%= render(Item::ItemComponent.new(item: 'Item 3')) %>
  <%= render(Item::ItemComponent.new(item: 'Item 4')) %>
  <%= render(Item::ItemComponent.new(item: 'Item 5')) %>
</ul>
</section>

<%= link_to "New entry", new_entry_path %>
